<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Trade+Winds&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/estilos.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- INICIA BARRA DE NAVEGACIÓN -->
    <nav class="navbar navbar-expand-lg navbar-dark azul-chido">
      <a class="navbar-brand" href="/">Rodolfo F.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- TERMINA BARRA DE NAVEGACIÓN -->
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h4 class="card-title text-center">Neurona que toma decisiones</h4>
              <form class="form-signin" method="post">

                <!-- Entrada 1 -->
                <div class="form-label-group">
                  <label for="entrada_1">¿Va a llover?</label>
                  <input type="text" id="entrada_1" name="e1" placeholder="Entrada" class="form-control" required autofocus>
                  <input type="text" id="entrada_1" name="p1" placeholder="Peso" class="form-control" required autofocus>
                </div>
                <br>

                <!-- Entrada 2 -->
                <div class="form-label-group">
                  <label for="entrada_2">¿Tengo dinero para ir?</label>
                  <input type="text" id="entrada_2" name="e2" placeholder="Entrada" class="form-control" required autofocus>
                  <input type="text" id="entrada_2" name="p2" placeholder="Peso" class="form-control" required autofocus>
                </div>
                <br>

                <!-- Entrada 3 -->
                <div class="form-label-group">
                  <label for="entrada_3">¿Hay transporte?</label>
                  <input type="text" id="entrada_3" name="e3" placeholder="Entrada" class="form-control" required autofocus>
                  <input type="text" id="entrada_3" name="p3" placeholder="Peso" class="form-control" required autofocus>
                </div>
                <br>

                <hr>

                <!-- Umbral -->
                <div class="form-label-group">
                  <label for="umbral">Umbral</label>
                  <input type="text" id="umbral" name="u" placeholder="Umbral" class="form-control" required autofocus>
                </div>
                <br>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Procesa</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
